html {
        text-align: center;
    }

    body {
        font-family: 'Didot';
        background-color: rgb(187, 223, 255);
    }

    button {
        font-family: "helvetica neue", helvetica, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        border: 2px solid rgba(27, 0, 200, 0.6);
        background-color: rgba(0, 163, 217, 0.787);
        color: rgb(60, 8, 95);
        box-shadow: 1px 1px 2px rgb(0 0 200 / 0.4);
        border-radius: 10px;
        padding: 3px 10px;
        cursor: pointer;
    }

