
h1 {
  font-family: 'Lucida Grande';
  text-align: center;
  margin: 0;
  padding: 4vh;
}

body {
  width: 640px;
  margin: 0 auto;
  background-color: rgb(148, 182, 236);
  color: rgb(5, 80, 5);
}

body img {
  width: 640px;
  height: 480px;
}

.full-img {
  position: relative;
  display: block;
  height: 480px;
  width: 640px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  height:40px;
  width: 55px;
  font-family: 'Lucida Grande';
  font-size: 12px;
  background: rgb(158, 110, 201);
  border: 2px solid rgb(36, 13, 127);
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar {
  display: flex;
  justify-content: center;
  height: 9.95em;
}

.thumb-bar img {
  display: block;
  width: 40%;
  max-height:70%;
  float: left;
  cursor: pointer;
}


